<h1>SpaceX Launches List</h1>
<div class="container">
  <div id="Filter">
    <h3>Filter Launches</h3>
    <h5><u>Launch Date</u></h5>
    <p class="button" (click)="getLaunches()">Clear Filter</p>
    <ul class="filter-section">
      <li *ngFor="let year of years" (click)="filterLaunchesByYear(year)">{{year}}</li>
    </ul>
    <h5><u>Launch Success</u></h5>
    <ul class="filter-section">
      <li (click)="filterLaunchesBySuccess(true)">Yes</li>
      <li (click)="filterLaunchesBySuccess(false)">No</li>
    </ul>
  </div>

  <div id="Launches">
    <h2>Space X Mission Launch List</h2>
    <ng-container *ngIf="mission_info && mission_info.length > 0; else noMissions">
      <div *ngFor="let mission of mission_info" class="mission-card">
        <h2>{{ mission.mission_name }} #{{mission.flight_number}}</h2>
        <img [src]="mission.links.mission_patch_small" alt="Mission Patch">
        <h5>Mission Ids</h5>
        <p>Launch Year: {{ mission.launch_year }}</p>
        <p>Details: {{ mission.details }}</p>
        <p>Successful Launch: {{ mission.launch_success ? 'Yes' : 'No' }}</p>
        <p class="button" (click)="toggleMissionDetails(mission)">View Further Details</p>
        <app-missiondetails *ngIf="selectedMission && selectedMission.flight_number === mission.flight_number" [selectedMission]="selectedMission"></app-missiondetails>
      </div>
    </ng-container>
    <ng-template #noMissions>
      <div class="warning"><p>No Missions Attempted this Year</p></div>
    </ng-template>
  </div>
</div>
