<div class="container">
  <h3>SpaceX Mission Details</h3>
  <div *ngIf="selectedMission" class="mission-details">
    <div class="mission-header">
      <h3 class="details-title">Mission - {{ selectedMission.name }}</h3>
      <img [src]="selectedMission.links.patch.large" alt="Mission Patch">
    </div>
    <div class="details-section">
      <div><h3>Mission Name:</h3> {{ selectedMission.name }}</div>
      <div><h3>Launch Year:</h3> {{ selectedMission.date_local | date: 'YYYY' }}</div>
      <div><h3>Rocket Name:</h3> {{ selectedRocket.name }}</div>
      <div><h3>Rocket Description:</h3> {{ selectedRocket.description}}</div>
      <div><h3>Engine Propellant 1:</h3> {{ selectedRocket.engines.propellant_1}}</div>
      <div><h3>Engine Propellant 2:</h3> {{ selectedRocket.engines.propellant_2}}</div>
      <div><h3>Height:</h3> {{ selectedRocket.height.meters}} m</div>
      <div><h3>Mass:</h3> {{ selectedRocket.mass.kg}} kg</div>
      <div><h3>Landing Legs:</h3> {{ selectedRocket.landing_legs.material}} {{ selectedRocket.landing_legs.number}} legs</div>
      <div><h3>Launch Country:</h3> {{ selectedRocket.country}}</div>
      <div><h3>Launch Pad:</h3> {{ selectedLaunchPad.name}}</div>
      <div><h3>Launch Pad Details:</h3> {{ selectedLaunchPad.details}}</div>
      <div><h3>Coordinates:</h3> Latitude: {{ selectedLaunchPad.latitude}} <br/> Longitude: {{ selectedLaunchPad.longitude}}</div>
      <div><h3>Cost Per Launch</h3> ${{selectedRocket.cost_per_launch}}</div>
      <div><h3>Launch Date:</h3> {{ selectedMission.date_local | date:'dd/MM/yyyy h:mm a' }}</div>
      <div><h3>Launch Details:</h3> {{ selectedMission.details }}</div>
    </div>
    <div class="rocket-images">
      <img [src]="selectedLaunchPad.images.large" alt="Launch Site Pic">
      <img [src]="selectedRocket.flickr_images[0]" alt="Rocket Image 1">
      <img [src]="selectedRocket.flickr_images[1]" alt="Rocket Image 2">
    </div>
    <div class="details-footer">
      <h3>More Info:</h3>
      <a href="{{ selectedMission.links.wikipedia }}" target="_blank">
        <img src="../../assets/wikiicon.png" alt="Wikipedia">
      </a>
      <a href="{{ selectedMission.links.webcast }}" target="_blank">
        <img src="../../assets/yticon.png" alt="Youtube">
      </a>
    </div>
  </div>
</div>
